__pycache__/
*.pyc
*.pyo
*.DS_Store
.venv/*
frontend/node_modules/
app/ui/static/react/
frontend/playwright-report/
frontend/test-results/
model_store/
old_codes/mlserver_all_in_one/
*.pth
*.pt
old_codes/
